html, body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.custom-link {
    background-color: #35AFF1!important;
}

.titulo-contact {
    color: #35AFF1;
}

.form-check-label {
    color:rgb(210, 193, 171);
    text-align: center;
}

.btn-outline-light {
    margin-top:20px;
    width: 17%;
    text-align: center;
}

.bi {
    vertical-align: -.125em;
    fill: #35AFF1;
}

#regresar {
    margin-top: 20px;
}

#description {
    margin: 60px;
}

.text-body-unsuscription {
    color: #35AFF1;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color:#35AFF1;
    border-radius: 100%;
}
