html, body {
    background-color: #000000;
    color: #FFFFFF;
}

.custom-link {
    background-color: #35AFF1!important;
}

.titulo-contact {
    color: #35AFF1;
}

.form-check-label {
    color:rgb(210, 193, 171);
    text-align: center;
}

.btn-outline-light {
    margin-top:20px;
    width: 17%;
    text-align: center;
}

.bi {
    vertical-align: -.125em;
    fill: #35AFF1;
}

#Login {
    background-color: #35AFF1;
}