.imagen{

    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    padding-bottom: 2em
}
main{
    font-size:  20px;
}
@media (min-width: 1200px){
    main{
        font-size: 30px;
    }
}

a:hover {
    transform: scale(1.01);
    border: 1px white;
}

.row-header-title{
    margin: 1em;
} 
