.profile-title {
    align-items: center;
    text-align: center;
    margin-top: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #35AFF1;
    font-weight:bolder;
    
}

.perf {
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}